# Usage :
# /opt/vyatta/sbin/vyatta-cfg-cmd-wrapper command
begin
configure
set interfaces wireguard wg0 address {{ value.address }}
set interfaces wireguard wg0 listen-port {{ value.port }}
set interfaces wireguard wg0 route-allowed-ips true
set interfaces wireguard wg0 private-key {{ value.privateKey }}
commit
{% for peer in value.peers %}
set interfaces wireguard wg0 peer BJ...dz= endpoint {{ peer["public_key"] }}
set interfaces wireguard wg0 peer BJ...dz= persistent-keepalive 15
{% for allowedIP in peer["allowedIP"] %}
set interfaces wireguard wg0 peer BJ...dz= allowed-ips {{ allowedIP }}
{% endfor %}
commit
{% endfor %}
save
end