[Interface]
Address = {{ value.address }}
PrivateKey = {{ value.privateKey }}
ListenPort = {{ value.port }}
PostUp =
PostDown =
{% for peer in value.peers %}
[Peer]
PublicKey = {{ peer["ip"] }}
AllowedIPs = {{ peer["public_key"] }}
{% endfor %}